@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "_null";


@keyframes qqq {
    0% {
        transform: translate(0,0px);
    }
    50% {
        transform: translate(0,-10px);
    }
    
    100% {
        transform: translate(0,0px);
    }
}
// Миксины
@mixin button {
    a {
    background-color: #1090CB;
    border-radius: 6px;
    font-size: 13px;
    line-height: 20px;
    color: #ffff;
    display: inline-block;
    }
}
@mixin product {
    padding: 25px;
    border-radius: 20px;
    margin-right: 16px;
}
//------------------------

// Переменные
$blue: #1090CB;
$black: #252525;
// -----------------------

body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    &.lock {
        overflow: hidden;
    }
}

.container {
    max-width: 1388px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

@import "_header";

.programmer {
    background-color: rgba(16, 144, 203, 0.1);
    &__inner {
        position: relative;
        display: flex;
        padding: 128px 0 165px 91px;
    }
    &__info {
        h1 {
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            width: 593px;
            margin-bottom: 35px;
            span {
                color: $blue;
            }
        }
        p {
            font-size: 16px;
            line-height: 24px;
            color: #5C5C5C;
            width: 625px;
            margin-bottom: 94px;
        }
        &-buttons {
            display: flex;
            div:first-child {
                @include button;
                a {
                margin-right: 15px;
                border-radius: 10px;
                padding: 13.5px 56.5px;
                font-size: 16px;
                line-height: 24px;
                }
                &:hover {
                    a {
                        background-color: #1379a8;
                    }
                }
            }
            div:last-child {
                @include button;
                a {
                background-color: #fff;
                border: 1px solid $blue;
                border-radius: 10px;
                padding: 12.5px 57px;
                display: inline-block;
                font-size: 16px;
                line-height: 24px;
                color: $blue;
                }
                &:hover {
                    a {
                        background-color: #03030330;
                    }
                }
            }
        }
    }
    &__info::after {
        content: '';
        display: block;
        background: radial-gradient(50% 50% at 50% 50%, #EDEAFF 0%, rgba(196, 196, 196, 0) 100%);
        width: 496px;
        height: 504px;
        position: absolute;
        top: 30px;
        left: -200px;
    }
    &__info::before {
        content: '';
        display: block;
        background: radial-gradient(50% 50% at 50% 50%, #FDFFEA 0%, rgba(196, 196, 196, 0) 100%);
        width: 496px;
        height: 504px;
        position: absolute;
        right: 40px;
        top: 10px;
    }
    &__man {
        position: absolute;
        right: 50px;
        top: -90px;
    }
}

.product {
    &__inner {
        padding: 43px 70px 43px 81px;
    }
    .title {
        font-weight: 550;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .text {
        font-size: 15px;
        line-height: 22px;
        color: #969696;
    }
    .block {
        display: flex;
        align-items: center;
        width: 300px;
    }
    &__apps {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .web-apps-img {
        @include product;
        background-color: #EFEAFF;
        padding: 25px 21px 17px;
    }
    .seo-img {
        @include product;
        background-color: #ECFFDA;
    }
    .solution-img {
        @include product;
        background-color: #DAE6FF;
    }
    .mob-apps-img {
        @include product;
        background-color: #FFE5DA;
        padding: 25px 24px 24px 25px;
    }
}
.product::after {
    content: '';
    display: block;
    border-bottom: 0.7px solid #C7C7C7;
}

.reason {
    &__inner {
        padding: 115px 100px 115px 86px;
    }
    &__info {
        margin-bottom: 155px;
        display: flex;
        flex-flow: column;
        align-items: center;
        h2 {
            font-weight: 600;
            font-size: 33px;
            line-height: 160%;
            text-align: center;
            color: $black;
            margin-bottom: 32px;
        }
        p {
            width: 100%;
            max-width: 692px;
            font-size: 18px;
            line-height: 175%;
            text-align: center;
            color: #868686;
        }
    }
    &__subtitles {
        display: flex;
        margin-bottom: 45px;
        &-happy {
            padding: 16px;
            border-radius: 50%;
        }
        &-info {
            margin-left: 25px;
            h2 {
                font-weight: 500;
                font-size: 17px;
                line-height: 175%;
            }
            p {
                font-size: 14px;
                line-height: 175%;
                color: #868686;
            }
        }
    }
    &__block {
        .reason__block-title {
            font-weight: 600;
            font-size: 30px;
            line-height: 170%;
            color: #252525;
            max-width: 480px;
            margin-bottom: 56px;
            span {
                color: #1090CB;
            }
        }
        .reason__block-text {
            font-size: 16px;
            line-height: 170%;
            color: #545454;
            max-width: 470px;
        }
        &1 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 173px;
            &-img {
                position: relative;
                left: 50px;
                max-width: 700px;
                img {
                    width: 100%;
                }
            }
            .reason__subtitles-happy {
                background-color: #08D3BB;
            }
            &::after {
                content: '';
                width: 497px;
                height: 505px;
                background: radial-gradient(72.77% 72.77% at 50% 50%, #DED9FF 0%, rgba(255, 255, 255, 0) 75%);
                border-radius: 50%;
                position: absolute;
                right: 0;
            }
        }
        &2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 180px;
            position: relative;
            .reason__subtitles-happy {
                background-color: #1090CB;
            }
            &-img {
                position: relative;
                left: -40px;
            }
            &::before {
                content: '';
                width: 497px;
                height: 505px;
                background: radial-gradient(72.77% 72.77% at 50% 50%, #F3FFD9 0%, rgba(255, 255, 255, 0) 75%);
                border-radius: 50%;
                position: absolute;
                left: -150px;
                top: -70px;
            }
        }
        &3 {
            background-image: url('/img/08.svg');
            // background-size: 75% 80%;
            background-repeat: no-repeat;
            background-position: right;
            .reason__subtitles-happy {
                background-color: #9208D3;
            }
        }
    }
    &::after {
        content: '';
        display: block;
        border-bottom: 0.7px solid #C7C7C7;
    }
}









@media (max-width:1225px){
    .programmer {
        &__inner {
            overflow: hidden;
        }
        &__man {
            right: -210px;
        }
        &__info::before {
            right: -200px;
        }
    }
    .reason {
        &__block1::after,
        &__block2::before {
            display: none;
        }
    }
}

@media (max-width:992px) {
    .programmer {
            &__inner {
                padding: 57px 0px 57px 63px;
                overflow: auto;
                justify-content: center;
            }
        &__info {
            max-width: 650px;
            width: 100%;
            h1 {
                font-size: 32px;
                width: 100%;
                text-align: center;
            }
            p {
                font-size: 15px;
                text-align: center;
                margin-bottom: 51px;
            }
            &-buttons {
                justify-content: center;
            }
            &::after {
                display: none;
            }
            &::before {
                display: none;
            }
        }
        &__man {
        display: none;
        img {
            display: none;
        }
        }
    }
    .product {
        &__inner {
            padding: 66px 102px 25px 91px;
        }
        .block {
            margin-bottom: 41px;
            // &:nth-child(4) {
            //     margin-bottom: 0;
            // }
        }
        &__apps {
            justify-content: center;
        }
    }
    .reason {
        &__block1::after,
        &__block2::before {
            display: none;
        }
        &__block1-img,
        &__block2-img {
            display: none;
        }
        &__block {
            background-image: none;
            display: flex;
            flex-flow: column;
            align-items: center;
        }
        &__inner {
            padding: 41px 180px 115px 273px;
        }
        &__block1,
        &__block2 {
            margin-bottom: 94px;
        }
        &__info {
            margin-bottom: 94px;
            h2 {
                max-width: 516px;
            }
            p {
                max-width: 421px;
            }
        }
        &__block3 {
            background: none;
        }
    }
}

@media (max-width:768px) {
    .programmer {
        &__inner {
            padding: 34px 10px 30px 10px;
        }
        h1 {
            max-width: 768px;
            width: 100%;
            font-size: 22px;
            line-height: 33px;
            text-align: center;
        }
        p {
            max-width: 768px;
            width: 100%;
            text-align: center;
            font-size: 13px;
            line-height: 20px;
            margin-bottom: 62px;
        }
        &__info-buttons {
            div:first-child {
                a {
                    margin-right: 12px;
                    font-size: 12px;
                    padding: 9.5px 39px;
                    white-space: nowrap;
                }
            }
            div:last-child {
                a {
                    font-size: 12px;
                    padding: 8.5px 39.2px;
                    white-space: nowrap;
                }
            }
        }
    }
    .product {
        &__inner {
            padding: 41px 27px 0 41px;
            
        }
        .title {
            font-size: 16px;
            line-height: 24px;
        }
        .text {
            font-size: 14px;
            line-height: 21px;
        }
        &__apps {
            flex-flow: column;
            align-items: center;
        }
    }
    .reason {
        &__inner {
            padding: 23px 27px 115px 27px;
            text-align: center;
            align-items: center;
        }
        &__info {
            h2 {
                font-size: 20px;
                width: 250px;
            }
            p {
                font-size: 15px;
                width: 224px;
            }
        }
        &__subtitles {
            &-info {
                h2 {
                    max-width: 191px;
                }
                p {
                    display: none;
                }
            }
        }
        &__block-title {
            font-size: 20px;
            max-width: 280px;
            text-align: center;
        }
        &__block-text {
            max-width: 282px;
            text-align: center;
        }
    }
}
